
<h1>Hello, Rails!</h1>
<%= link_to 'My Blog', controller: 'articl

<%# <!DOCTPE html>
<html>
    <head>
        
    </head>

    <body>
        <div>
            <h1>New Article </h1>
        </div>
        <div>
            <p>Title</p>
            <input type="text">
        </div>

        <div>
            <p>Text</p>
            <input type="text">
        </div>

        <div>
            <br/>
            <textarea name="alo" cols="30" rows="10"> </textarea>
      </div>

      <div>
            <button type="button">Save Article</button>
      </div>
    </body>
</html> %>